 a {
  text-decoration: none;
  color: inherit;
}
.images {
  height: 300px;
  width: 300px;
  padding: 10px;
  border-radius: 50%;
}
// #chicken-show {
//   // background-color: #ffffffc9;
//   font-family: 'Luckiest Guy', cursive !important;
//   border-radius: 83% !important;
//   height: 720px !important;
// //   background-color: #EBC296 !important;
// }
.chicken-show h1{
  background-color: #ffffffc9;
  font-family: 'Luckiest Guy', cursive;
}
.chicken-show{
  padding:60px;
}
#chicken-egg {
  margin-right: 150px;
    margin-left: 170px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Luckiest Guy', cursive !important;
    border-radius: 83% !important;
    height: 720px !important;
    background-color: #EBC296 !important;
    width: 550px ;
}
