<div class= "text-center font-weight-bold">

<h1>Select a Chicken</h1>
</div>

<div class="cards">

  <% @chickens.each do |chicken| %>
    <%# <li> %>
    <%# <div class = "chicken-container"> %>
  <div class="card" style="width: 18rem;">
    <%# <%= cl_image_tag chicken.photo.key, height: 300, crop: :fill %> %>
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"></p>
    </div>
  <%# </div> %>
    <%= link_to chicken.breed, chicken_path(chicken) %>
    <%# <p><strong>Description:</strong> <%= chicken.description %></p>
    <p><strong>Price:</strong> $<%= chicken.price %></p>
  </div>
    <%# </li> %>
  <% end %>
</div>
