
<%# <h1>New Chickens</h1>
<%= simple_form_for [@chicken, @booking] do |f| %>
  <%# <%= f.input :breed, :price, :description %>
  <%# <%= f.submit "Submit booking", class: "btn btn-primary" %>
<%# <% end %>

<div class="d-flex justify-content-center"> <h1>Add a Chicken</h1></div>

<%= render 'form' %>
