<h1>Book this Chicken!</h1>
<div>
<%= simple_form_for [@chicken, @booking] do |f| %>
  <%= f.input :start_date,
  as: :string,
  input_html: { data: { controller: "datepicker"}} %>
  <%= f.input :end_date,
  as: :string,
  input_html: { data: { controller: "datepicker"}} %>
  <%= f.submit %>
<% end %>
</div>
