<div class="bg">
  <div class="landing-text">
      <h1  class="text" >Welcome to Cluck on Demand!</h1>
      <h3 class="text">Rent, Relax, Cluck: Your on Demand Chicken Experience....</h3>
      <%= link_to "Cluck me to start!", chickens_path, class: "button btn-danger btn-large" %>
  </div>
</div>

<div class="site-information">
  <h2>About Our Site</h2>
  <p>
    Welcome to our chicken rental website! We offer a unique service that allows you to rent chickens for various purposes. Whether you need chickens for educational programs, backyard farming, or simply want to experience the joy of raising chickens, we've got you covered. Our platform connects chicken owners with those in need of temporary chicken companionship. Browse our selection of chickens, book your desired dates, and enjoy the wonderful world of chickens without the long-term commitment.
  </p>
  <p>
    If you have any questions or need assistance, please don't hesitate to contact us. Happy chicken renting!
  </p>
</div>
