<div class="bg">
  <header>
    <h1 class="container" class="text" >Welcome to Cluck on Demand!</h1>
    <h3 class="text">Rent, Relax, Cluck: Your on Demand Chicken Experience....</h3>
    <%= link_to "Cluck me to start!", chickens_path, class: "button" %>
  </header>
  <nav>
    <!-- Navigation menu goes here -->
  </nav>
  <section>
    <!-- Main content goes here -->
  </section>
  <footer>
    <!-- Footer content goes here -->
  </footer>
</div>
