.form-label{
  margin-bottom: 0.5rem;
  font-family: 'Luckiest Guy';
  color: white;
}
h1{
  font-size: calc(1.375rem + 1.5vw);
    font-family: 'Luckiest Guy';
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
