.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width: 40px;
  width: 90px;
  height: 50px;
  border-radius: 10%;
}

.container-fluid{
  height: 70px;
}

.navbar-nav {
  display: flex;
}

.nav-item {
  margin-right: 10px;
}


.main {
  position: absolute !important;
  right: 683px !important;
  top: -22px !important;
}
